
{% extends 'prod.html.twig' %}

{% block title %}Visite medicale{% endblock %}
{% block banner_image %}
    {{ asset('img/phott.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Alliance Santé</h1>
{% endblock %}
   
{% block body %}
 <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Visite Médicale</p>
                <h1 class="mb-5">Les traitements médicaux</h1>
            </div>
    {% if results is not empty %}
        <div class="row">
            <div id="resultContainer" class="row">
                {% for result in results %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Résultat de recherche {{ loop.index }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Numéro de bétail:</strong> {{ result.numero }}</li>
                                    <li class="list-group-item"><strong>Date de traitement:</strong> {{ result.dateintervmed ? result.dateintervmed|date('Y-m-d') : '' }}</li>
                                    <li class="list-group-item"><strong>Vétérinaire:</strong> {{ result.idvet.prenomvet }}</li>

                                    <li class="list-group-item d-flex justify-content-between">
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_show', {'id': result.id}) }}">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_edit', {'id': result.id}) }}">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" onclick="deleteTraitement('{{ path('app_traitementmedicale_delete', {'id': result.id}) }}', '{{ csrf_token('delete' ~ result.id) }}')">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucun résultat trouvé</p>
    {% endif %}
    <script>
function toggleAdvancedSearchForm() {
    var resultContainer = document.getElementById('resultContainer');

    if (resultContainer) {
        if (resultContainer.style.display === 'none') {
            resultContainer.style.display = 'block';
        } else {
            resultContainer.style.display = 'none';
        }
    } else {
        console.error("Le conteneur de résultats n'a pas été trouvé.");
    }
    
}
    function performAdvancedSearch() {
        var startDate = $("#start_date").val();
        var endDate = $("#end_date").val();
        var minCost = $("#min_cost").val();
        var maxCost = $("#max_cost").val();

    console.log("start_date:", startDate);
    console.log("end_date:", endDate);
    console.log("min_cost:", minCost);
    console.log("max_cost:", maxCost);


        

        $.ajax({
            type: "GET",
            url: "{{ path('app_traitementmedicale_advanced_search') }}",
            data: {
                start_date: startDate,
                end_date: endDate,
                min_cost: minCost,
                max_cost: maxCost
            },
            success: function (response) {
               console.log("Réponse AJAX : ", response);
                $("#resultContainer").html(response);
            },
            error: function (error) {
                console.log("Erreur Ajax: ", error);
            }
        });
    }
</script>

{% endblock %}
