{% extends 'prod.html.twig' %}

{% block title %}Visite medicale{% endblock %}
{% block banner_image %}
    {{ asset('img/phott.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Alliance Santé</h1>
{% endblock %}

            

{% block body %}
 <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Visite Médicale</p>
                <h1 class="mb-5">Modifier un traitement Médical!</h1>
            </div>
 <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
                        <div class="p-5">
                            {{ form_start(form, {'action': path('app_traitementmedicale_edit', {'id': traitementmedicale.id}), 'attr': {'novalidate': 'novalidate'}}) }}

{{ form_row(form.numero, {'label' : 'Numéro de bétail','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez le numéro du betail'}}) }}
<br>
{{ form_row(form.typeintervmed, {'label' : 'Traitement médical','attr': {'class': 'form-control form-control-user'}}) }}
<br>
{{ form_row(form.dateintervmed, {'label' : 'Date de traitement','attr': {'class': 'form-control form-control-user'}}) }}
<br>
{{ form_row(form.coutinterv, {'label' : 'Cout','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez le cout du traitement médicale'}}) }}
<br>
{{ form_row(form.medicament, {'label' : 'Médicaments','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez les médicaments'}}) }}
<br>
{{ form_row(form.dureetraitement, {'label' : 'Durée de traitement','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez la durée du traitement medicale'}}) }}
<br>
{{ form_row(form.description, {'label' : 'Déscription','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez la description de son état'}}) }}
<br>
{{ form_row(form.idvet, {'label' : 'Véterinaire','attr': {'class': 'form-control form-control-user'}}) }}


   {{ include('traitementmedicale/_form.html.twig', {'button_label': 'Modifier'}) }}        
{{ form_end(form) }}
   
</div>
      </div>
        </div>
           </div>
             </div>
               </div>


    
{% endblock %}