<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport Traitement médical</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            text-align: center;
            background-color: #f8f9fa; /* Light background color */
            color: #495057; /* Text color */
        }

        header {
            background-color: #28a745;
            color: white;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
        }

        th, td {
            border: 2px solid #28a745; /* Green border */
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #28a745;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Rapport De Traitements Médicals</h1>
    </header>

    <table>
        <thead>
            <tr>
                <th>Numéro de bétail</th>
                <th>Cout</th>
                <th>Date de traitement</th>
                <th>Description</th>
                <th>Duree</th>
                <th>Véterinaire</th>
            </tr>
        </thead>
        <tbody>
            {% for traitementmedicale in traitementmedicales %}
                <tr>
                    <td>{{ traitementmedicale.numero }}</td>
                    <td>{{ traitementmedicale.coutinterv }}</td>
                    <td>{{ traitementmedicale.dateintervmed ? traitementmedicale.dateintervmed|date('Y-m-d') : '' }}</td>
                    <td>{{ traitementmedicale.description }}</td>
                    <td>{{ traitementmedicale.dureetraitement }}</td>
                    <td>{{ traitementmedicale.idvet.prenomvet }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
