
{% extends 'prod.html.twig' %}

{% block title %}Visite medicale{% endblock %}
{% block banner_image %}
    {{ asset('img/phott.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Alliance Santé</h1>
{% endblock %}


{% block body %}
 
  
    </div>
    <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Visite Médical</p>
                <h1 class="mb-5">Les traitements médicaux</h1>
            </div>
   <div class="row">
    <div class="col-md-6">
        <!-- Topbar Search -->
        <form action="{{ path('app_traitementmedicale_search') }}" method="get">
            <div class="input-group">
                <!-- Bouton pour afficher les options de recherche avancée -->
                <div class="input-group-prepend">
                    <button class="btn text-primary bg-transparent border-0" type="button" onclick="toggleAdvancedSearchForm()" role="button" data-tooltip="Afficher les options de recherche" aria-label="Options de recherche avancée">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <!-- ... Le contenu du SVG ... -->
                            <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                        </svg>
                    </button>
                </div>
                
                <input type="text" name="search_query" class="form-control bg-light border-0 small" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
                
                <!-- Nouvelle ligne pour le bouton de recherche -->
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Formulaire de recherche avancée (initialement caché) -->
<div id="resultContainer" style="display: none;">
    <form id="advancedSearchForm" action="{{ path('app_traitementmedicale_advanced_search') }}" method="GET">
        <!-- Critères de recherche avancée -->
        <div class="input-group mt-3">
            <label for="start_date">Date début:</label>
            <input type="date" id="start_date" class="form-control">
        </div>

        <div class="input-group mt-3">
            <label for="end_date">Date fin:</label>
            <input type="date" id="end_date" class="form-control">
        </div>

        <div class="input-group mt-3">
            <label for="min_cost">Coût minimum:</label>
            <input type="number" id="min_cost" class="form-control">
        </div>

        <div class="input-group mt-3">
            <label for="max_cost">Coût maximum:</label>
            <input type="number" id="max_cost" class="form-control">
        </div>

        <button type="submit" onclick="performAdvancedSearch()">Rechercher</button>
    </form>
</div>



                    <div class="d-flex justify-content-end">
    <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_new') }}">
        <i class="bi bi-plus"></i>
    </a>
  
</div>

  <br>
<div class="row">
{% for traitementmedicale in pagination %}
    
        <div class="col-md-4 mb-3">
            <div class="card">
                <div  class="card-body">
                    <h5 class="card-title">Traitement médical {{ loop.index }}</h5>
                    <ul  class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Numéro de bétail:</strong> {{ traitementmedicale.numero }}</li>
                        <li class="list-group-item"><strong>Date de traitement:</strong> {{ traitementmedicale.dateintervmed ? traitementmedicale.dateintervmed|date('Y-m-d') : '' }}</li>
                        <li class="list-group-item"><strong>Véterinaire:</strong> {{ traitementmedicale.idvet.prenomvet }}</li>
                       
                        <li class="list-group-item d-flex justify-content-between">
                            <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_show', {'id': traitementmedicale.id}) }}">
                     <i class="bi bi-eye"></i>
                       </a>
                           <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_edit', {'id': traitementmedicale.id}) }}">
<i class="bi bi-pencil"></i>
</a>
<a class="btn btn-square btn-secondary rounded-circle m-1" onclick="deleteTraitement('{{ path('app_traitementmedicale_delete', {'id': traitementmedicale.id}) }}', '{{ csrf_token('delete' ~ traitementmedicale.id) }}')">
                                                <i class="bi bi-trash"></i>
                                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>no records found</p>
        </div>
    {% endfor %}
			<div class="text-center">
  <a href="{{ path('pdf') }}" class="btn btn-primary btn-sm">pdf</a>
</div>


    <div class="container mt-5">
				<div class="row justify-content-center">
					<div class="text-center">
						<div
							class="pagination">
							{# class="pagination" style for pagination #}
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{# Pagination #}

		<br>
		<br>

		<!-- Add links for other actions as needed -->
	</div>

</div>
 {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #3498db; /* Bleu */
		border-radius: 3px;
		color: #3498db; /* Bleu */
	}

	.pagination a:hover {
		background-color: #3498db; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>

    <script>
    function deleteTraitement(deleteUrl, csrfToken) {
        if (confirm('Are you sure you want to delete this item?')) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = deleteUrl;

            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = '_token';
            csrfTokenInput.value = csrfToken;

            form.appendChild(csrfTokenInput);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<!-- En bas de votre template Twig -->



<script>
function toggleAdvancedSearchForm() {
    var resultContainer = document.getElementById('resultContainer');

    if (resultContainer) {
        if (resultContainer.style.display === 'none') {
            resultContainer.style.display = 'block';
        } else {
            resultContainer.style.display = 'none';
        }
    } else {
        console.error("Le conteneur de résultats n'a pas été trouvé.");
    }
    
}
    function performAdvancedSearch() {
        var startDate = $("#start_date").val();
        var endDate = $("#end_date").val();
        var minCost = $("#min_cost").val();
        var maxCost = $("#max_cost").val();

    console.log("start_date:", startDate);
    console.log("end_date:", endDate);
    console.log("min_cost:", minCost);
    console.log("max_cost:", maxCost);


        

        $.ajax({
            type: "GET",
            url: "{{ path('app_traitementmedicale_advanced_search') }}",
            data: {
                start_date: startDate,
                end_date: endDate,
                min_cost: minCost,
                max_cost: maxCost
            },
            success: function (response) {
               console.log("Réponse AJAX : ", response);
                $("#resultContainer").html(response);
            },
            error: function (error) {
                console.log("Erreur Ajax: ", error);
            }
        });
    }
</script>
{% endblock %}



