{% extends 'backbase.html.twig' %}

{% block body %}
 <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des traitements médical</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                             <th>Numéro de bétail</th>
                            
                             <th>Date de traitement</th>
                             <th>Cout</th>
                             <th>Médicament</th>
                             <th>Durée</th>
                             <th>Description</th>
                             <th>Véterinaire</th>


                        </tr>
                    </thead>
                    <tbody>
                       {% for traitementmedicale in traitementmedicales %}
            <tr>
                <td>{{ traitementmedicale.id }}</td>
                <td>{{ traitementmedicale.numero }}</td>
                
                 <td>{{ traitementmedicale.dateintervmed ? traitementmedicale.dateintervmed|date('Y-m-d') : '' }}</td>
                <td>{{ traitementmedicale.coutinterv }}</td>
                <td>{{ traitementmedicale.medicament }}</td>
                <td>{{ traitementmedicale.dureetraitement }}</td>
                <td>{{ traitementmedicale.description }}</td>
                 <td>{{ traitementmedicale.idvet.prenomvet }}</td>
               
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
                    </tbody>
                </table>
              
            </div>
        </div>
    </div>

</div>


{% endblock %}
