
{% extends 'prod.html.twig' %}

{% block title %}Visite medicale{% endblock %}
{% block banner_image %}
    {{ asset('img/phott.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Alliance Santé</h1>
{% endblock %}


  
            

{% block body %}
<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Visite Medicale</p>
                <h1 class="mb-5">Ajouter un traitement Médical!</h1>
            </div>
 <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
                        <div class="p-5">
                             {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<label for="inputEmail" class="col-sm-4 col-form-label">Numéro de bétail</label>
    <div class="col-sm-10">
        {{ form_widget(form.numero, {'attr': {'class': 'form-control ' ~ (form.numero.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.numero, {'attr': {'class': 'text-danger' ,'placeholder': 'Numéro'}}) }}
    </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Traitement médical</label>
    <div class="col-sm-10">
        {{ form_widget(form.typeintervmed, {'attr': {'class': 'form-control ' ~ (form.typeintervmed.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.typeintervmed, {'attr': {'class': 'text-danger' ,'placeholder': 'Traitement médical'}}) }}
    </div>
<br>
 <div class="col-sm-10">
{{ form_row(form.dateintervmed, {'label' : 'Date de traitement' ,'attr': {'class': 'form-control form-control-user'}}) }}
 </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Cout</label>
    <div class="col-sm-10">
        {{ form_widget(form.coutinterv, {'attr': {'class': 'form-control ' ~ (form.coutinterv.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.coutinterv, {'attr': {'class': 'text-danger' ,'placeholder': 'Cout'}}) }}
    </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Médicament</label>
    <div class="col-sm-10">
        {{ form_widget(form.medicament, {'attr': {'class': 'form-control ' ~ (form.medicament.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.medicament, {'attr': {'class': 'text-danger' ,'placeholder': 'Médicament'}}) }}
    </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Durée de traitement</label>
    <div class="col-sm-10">
        {{ form_widget(form.dureetraitement, {'attr': {'class': 'form-control ' ~ (form.dureetraitement.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.dureetraitement, {'attr': {'class': 'text-danger' ,'placeholder': 'Durée de traitement'}}) }}
    </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Déscription</label>
    <div class="col-sm-10">
        {{ form_widget(form.description, {'attr': {'class': 'form-control ' ~ (form.description.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'text-danger' ,'placeholder': 'Déscription'}}) }}
    </div>
<br>
<label for="inputEmail" class="col-sm-4 col-form-label">Véterinaire</label>
    <div class="col-sm-10">
        {{ form_widget(form.idvet, {'attr': {'class': 'form-control ' ~ (form.idvet.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.idvet, {'attr': {'class': 'text-danger' ,'placeholder': 'Véterinaire'}}) }}
    </div>


{{ form_widget(form) }}
<div class="d-flex justify-content-center mt-2">
    <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
{{ form_end(form) }}

</div>
      </div>
        </div>
           </div>
                </div>
                     </div>
                          </div>


    
{% endblock %}

