
{% extends 'prod.html.twig' %}

{% block title %}Visite medicale{% endblock %}
{% block banner_image %}
    {{ asset('img/phott.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Alliance Santé</h1>
{% endblock %}
   


{% block body %}
 <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Visite Médicale</p>
                <h1 class="mb-5">Les traitements médicaux</h1>
            </div>
 <div class="row">
        {% if traitementmedicales is not empty %}
            {% for resultat in traitementmedicales %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Résultat de recherche {{ loop.index }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Numéro de bétail:</strong> {{ resultat.numero }}</li>
                                <li class="list-group-item"><strong>Date de traitement:</strong> {{ resultat.dateintervmed ? resultat.dateintervmed|date('Y-m-d') : '' }}</li>
                                <li class="list-group-item"><strong>Vétérinaire:</strong> {{ resultat.idvet.prenomvet }}</li>
                                

                                <li class="list-group-item d-flex justify-content-between">
                                    <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_show', {'id': resultat.id}) }}">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_traitementmedicale_edit', {'id': resultat.id}) }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-square btn-secondary rounded-circle m-1" onclick="deleteTraitement('{{ path('app_traitementmedicale_delete', {'id': resultat.id}) }}', '{{ csrf_token('delete' ~ resultat.id) }}')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>Aucun résultat trouvé</p>
            </div>
        {% endif %}
    </div>
      </div>
        </div>
{% endblock %}