{% extends 'base.html.twig' %}

{% block title %}Traitementmedicale{% endblock %}

{% block body %}
    <h1>Traitementmedicale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ traitementmedicale.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ traitementmedicale.numero }}</td>
            </tr>
            <tr>
                <th>Typeintervmed</th>
                <td>{{ traitementmedicale.typeintervmed }}</td>
            </tr>
            <tr>
                <th>Dateintervmed</th>
                <td>{{ traitementmedicale.dateintervmed ? traitementmedicale.dateintervmed|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Coutinterv</th>
                <td>{{ traitementmedicale.coutinterv }}</td>
            </tr>
            <tr>
                <th>Medicament</th>
                <td>{{ traitementmedicale.medicament }}</td>
            </tr>
            <tr>
                <th>Dureetraitement</th>
                <td>{{ traitementmedicale.dureetraitement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ traitementmedicale.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_traitementmedicale_index') }}">back to list</a>

    <a href="{{ path('app_traitementmedicale_edit', {'id': traitementmedicale.id}) }}">edit</a>

    {{ include('traitementmedicale/_delete_form.html.twig') }}
{% endblock %}
