{% extends 'baseback.html.twig' %}

{% block title %}Liste Des Reclamations {% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Dateajout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.dateajout ? reclamation.dateajout|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reclamation.datemodif ? reclamation.dateajout|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">Detail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('set_banned', {'userId': user.id}) }}" class="btn btn-secondary">banne ce utilisateur</a>
    <a class="nav-link" href="{{ path('app_user_indexrec') }}">

						<span>retour</span>
					</a>
    
{% endblock %}
