{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="col-lg-7 mx-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Modifier les informations du véterinaire</h1>
                
        </div>
        {{ form_start(form)}}

{{ form_row(form.nomvet, {'label' : 'Nom véterinaire','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre nom'}}) }}
<br>
{{ form_row(form.prenomvet, {'label' : 'Prenom véterinaire','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre prénom'}}) }}{{ form_row(form.adresscabinet, {'label' : 'Adresse de cabinet','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre adresscabinet'}}) }}
<br>
{{ form_row(form.numtel, {'label' : 'Numéro de télephone','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre numero'}}) }}
<br>
{{ form_row(form.adressmail, {'label' : 'Adresse mail','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre adresse mail'}}) }}
<br>
{{ form_row(form.specialite, {'label' : 'Photo','attr': {'class': 'form-control form-control-user','placeholder': 'Upload an image'}}) }}



<div class="d-flex justify-content-center mt-2">
    {{ include('veterinaire/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{{ form_end(form) }}

    </div>
{% endblock %}
