 {% extends 'baseback.html.twig' %}
 {% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">
<div class="card-body">
    <h5 class="card-title"></h5>
    <div class="row">
        <div class="col">
            <input type="text" value="" class="form-control" placeholder="Nom Véterinaire" id="searchNom">
        </div>
        <div class="col">
            <input type="text" value="" class="form-control" placeholder="Prénom Véterinaire" id="searchLibelle">
        </div>
       
        <div class="col">
            <input type="text" value="" class="form-control" placeholder="Adresse" id="searchRevenuesCultures">
        </div>
    </div>
</div>
  <!-- Ajoutez le bouton de statistiques avant la table -->
    <div class="row mb-3">
        <div class="col text-right">
            <a href="{{ path('graphique_veterinaires_par_ville') }}" class="btn btn-success">
                Statistiques
            </a>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
                               {% include 'veterinaire/flash_messages.html.twig' %}
            <h5 class="m-0 font-weight-bold text-primary" style="color: #1cc88a;">Liste des veterinaires</h5>

        </div>
       
        <div class="card-body">
        <a href="{{ path('app_veterinaire_new') }}" class="btn btn-primary rounded-circle m-1" style="background-color: #1cc88a; color: #fff; border-color: #1cc88a;">
    <i class="bi bi-plus"></i>
</a>
        <br>
        <br>
         
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                             <th>Id</th>
                             <th>Nom</th>
                             <th>Prénom</th>
                             <th>Adress cabinet</th>
                             <th>Numéro</th>
                             <th>Adress mail</th>
                             <th>Photo</th>
                             <th>Actions</th>
                             


                        </tr>
                    </thead>
                    <tbody>
                       {% for veterinaire in veterinaires %}
            <tr>
                <td>{{ veterinaire.idvet }}</td>
                <td>{{ veterinaire.nomvet }}</td>
                <td>{{ veterinaire.prenomvet }}</td>
                <td>{{ veterinaire.adresscabinet }}</td>
                <td>{{ veterinaire.numtel }}</td>
                <td>{{ veterinaire.adressmail }}</td>
                <td><img src="{{ asset('img/' ~ veterinaire.specialite) }}" alt="Veterinaire Image" style="max-width:100px;max-height:100px;"></td>
                <td>

               
                <div class="btn-group">
        <a class="btn btn-primary rounded-circle m-1" style="background-color: #1cc88a; color: #fff; border-color: #1cc88a;" href="{{ path('app_veterinaire_edit', {'idvet': veterinaire.idvet}) }}">
            <i class="bi bi-pencil"></i>
        </a>
        <a class="btn btn-danger rounded-circle m-1" onclick="deleteVeterinaire('{{ path('app_veterinaire_delete', {'idvet': veterinaire.idvet}) }}', '{{ csrf_token('delete' ~ veterinaire.idvet) }}')">
            <i class="bi bi-trash"></i>
        </a>
    </div> 
                            </td>
                
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

</div>


 

  

</body>
<script>
    function deleteVeterinaire(deleteUrl, csrfToken) {
        if (confirm('Are you sure you want to delete this item?')) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = deleteUrl;

            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = '_token';
            csrfTokenInput.value = csrfToken;

            form.appendChild(csrfTokenInput);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function () { // Function to perform the search based on the specified column
function searchColumn(columnIndex, value) {
$("#dataTable tbody tr").filter(function () {
var cellText = $(this).find("td").eq(columnIndex).text().toLowerCase();
var found = cellText.indexOf(value) > -1;
$(this).toggle(found);
});
}

// Event handlers for each input element
$("#searchNom").on("keyup", function () {
searchColumn(1, $(this).val().toLowerCase());
});

$("#searchLibelle").on("keyup", function () {
searchColumn(2, $(this).val().toLowerCase());
});



$("#searchRevenuesCultures").on("keyup", function () {
searchColumn(3, $(this).val().toLowerCase());
});
});
</script>
{% endblock %}