{% extends 'backbase.html.twig' %}

{% block body %}

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ajouter Veterinaire !</h1>
                            </div>
                             {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

{{ form_row(form.nomvet, {'label' : 'Nom véterinaire','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre nom'}}) }}
<br>
{{ form_row(form.prenomvet, {'label' : 'Prenom véterinaire','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre prénom'}}) }}
<br>
{{ form_row(form.adresscabinet, {'label' : 'Adresse de cabinet','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre adresscabinet'}}) }}
<br>
{{ form_row(form.numtel, {'label' : 'Numéro de télephone','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre numero'}}) }}
<br>
{{ form_row(form.adressmail, {'label' : 'Adresse mail','attr': {'class': 'form-control form-control-user', 'placeholder': 'Entrez votre adresse mail'}}) }}
<br>
{{ form_row(form.specialite, {'label' : 'Photo','attr': {'class': 'form-control','placeholder': 'Upload an image'}}) }}

{{ form_widget(form) }}
<div class="d-flex justify-content-center mt-2">
    <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
{{ form_end(form) }}

    

 

    <a href="{{ path('app_veterinaire_index') }}">back to list</a>


                           

{% endblock %}

