{% extends 'base.html.twig' %}

{% block title %}Veterinaire{% endblock %}

{% block body %}
    <h1>Veterinaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idvet</th>
                <td>{{ veterinaire.idvet }}</td>
            </tr>
            <tr>
                <th>Nomvet</th>
                <td>{{ veterinaire.nomvet }}</td>
            </tr>
            <tr>
                <th>Prenomvet</th>
                <td>{{ veterinaire.prenomvet }}</td>
            </tr>
            <tr>
                <th>Adresscabinet</th>
                <td>{{ veterinaire.adresscabinet }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ veterinaire.numtel }}</td>
            </tr>
            <tr>
                <th>Adressmail</th>
                <td>{{ veterinaire.adressmail }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ veterinaire.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_index') }}">back to list</a>

    <a href="{{ path('app_veterinaire_edit', {'idvet': veterinaire.idvet}) }}">edit</a>

    {{ include('veterinaire/_delete_form.html.twig') }}
{% endblock %}
