{% extends 'baseback.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Modifier Produit</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.nomprod, {'attr': {'class': 'form-control', 'placeholder': 'Nom du produit'}}) }}
{{ form_row(form.cat, {'attr': {'class': 'form-control', 'placeholder': 'Catégorie'}}) }}
{{ form_row(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'Prix'}}) }}
{{ form_row(form.qte, {'attr': {'class': 'form-control', 'placeholder': 'Quantité'}}) }}
{{ form_row(form.descr, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
{{ form_row(form.status, {'attr': {'class': 'form-custom-checkbox-class'}}) }}
{{ form_row(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Image'}}) }}


        <button type="submit" class="btn btn-primary">Modifier</button>

        {{ form_end(form) }}

    <a href="{{ path('app_produit_indexb') }}">back to list</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
