{% extends 'prod.html.twig' %}

{% block title %}New Produit{% endblock %}
{% block banner_image %}
    {{ asset('img/pngtree-fruits-and-vegetables-picture-image_3712726.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Produit</h1>
{% endblock %}


{% block body %}
    <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_produit_new') }}">Ajouter Produit</a>

    <div class="container-xxl py-5">
        <div class="row gx-4">
            {% for produit in pagination %}
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item">
                        <div class="position-relative">
                            <!-- Your existing code for each produit -->
                            <img class="img-fluid rounded" src="{{ asset('img/' ~ produit.image) }}" style="width: 336px; height: 336px; object-fit: cover;">
                            <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1"
                                    href="{{ path('app_produit_edit', {'id': produit.id}) }}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                                    <button type="submit" class="btn btn-secondary rounded-circle m-1">
                                         <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                                
                                <a class="btn btn-square btn-secondary rounded-circle m-1"
                                    href="{{ path('app_produit_show', {'id': produit.id }) }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                
                                <a class="btn btn-square btn-secondary rounded-circle m-1"
                                    href="{{ path('app_reclamation_new', {'productId': produit.id }) }}">
                                    <i class="btn btn-square btn-secondary rounded-circle m-1"></i>
                                </a>
                            </div>
                        </div>
                                <div class="text-center p-4">
                                    <i class="fa-solid fa-file-pen"></i>
                                    <h2 style="color: #000000;">{{ produit.nomprod }}</h2>

                                    {% if produit.status == 1 %}
                                        <span class="text-primary me-1">Prix:{{ produit.prix }}TND</span>
                                    {% else %}
                                        <span class="text-decoration-line-through">Prix:{{ produit.prix }}TND</span>
                                    {% endif %}
                                    <span class="text-primary me-1">Quantité:{{ produit.qte }}Kg</span>
                                </div>
                            
                    </div>
                </div>
            {% else %}
                <p>No records found</p>
            {% endfor %}
        </div>
    </div>

    {# Pagination #}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #404a3d; /* Bleu */
		border-radius: 3px;
		color: #404a3d; /* Bleu */
	}

	.pagination a:hover {
		background-color: #404a3d; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>

    
{% endblock %}
