{% extends 'prod.html.twig' %}

{% block title %}New Produit{% endblock %}
{% block banner_image %}
{{ asset('img/pngtree-fruits-and-vegetables-picture-image_3712726.jpg') }}
{% endblock %}
    {%  block body %}
<a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_produit_new') }}">Ajouter Produit</a>


    <!-- Banner Start -->

            {% for produit in produits %}
                {% if loop.index % 2 == 1 %}
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                {% endif %}

                <div class="col-sm-6">
                    <img class="img-fluid rounded" src="{{ asset('img/' ~ produit.image) }}" >
                </div>
                <div class="col-sm-6">
                    
                    <h2  style="color: #000000;">{{ produit.nomprod }}</h2>

        <p class="text-white mb-4"><strong style="color: #ffcc00;">Prix:</strong> <span style="color: #000000;">{{ produit.prix }}</span></p>

        <p class="text-white mb-4"><strong style="color: #ffcc00;">Quantité:</strong> <span style="color: #000000;">{{ produit.qte }}</span></p>

<p class="text-white mb-4"><strong style="color: #ffcc00;">Description:</strong> <span style="color: #000000;">{{ produit.descr }}</span></p>

<p class="text-white mb-4">
    <strong style="color: #ffcc00;">Status:</strong>
    <span style="color: #000000;">{{ produit.status ? 'Disponible' : 'Non Disponible' }}</span>
</p>


                <div class="row">
                        <div class="col-sm-4">
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                        </div>
                        <div class="col-sm-4">
                            {# produit/_delete_form.html.twig #}
<form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button type="submit" class="btn btn-danger rounded-pill py-2 px-4">Supprimer</button>
</form>

                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-success rounded-pill py-2 px-4" href="{{ path('app_produit_show', {'id': produit.id}) }}">Detail</a>
                        </div>
                        
                    </div>
                </div>
                   
                    
                    
                

                {% if loop.index % 2 == 0 or loop.last %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Banner End -->
      {% endblock %}