{% extends 'prod.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
        <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/' ~ produit.image) }}" alt="Product Image" width="50" height="50"></td>

            </tr>
            
            <tr>
                <th>Nom du produit</th>
                <td>{{ produit.nomprod }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ produit.cat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ produit.qte }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.descr }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ produit.status ? 'Disponible' : 'Non Disponible' }}</td>
            </tr>
            
           {#<tr>
                <th>UserId</th>
                <td>{{ produit.user.id}}</td>
            </tr>#}
            <tr><a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Retour</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"class="btn btn-success">edit</a>

    <form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display: inline-block;">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
											<button class="btn btn-danger">Supprimer</button>
                                            </tr>

        </tbody>
    </table>

    
    
{% endblock %}
