<div class="card">
	<div class="card-body">
		<a href="{{ path('app_culture_index') }}">
			<i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i>
		</a>
		<h5 class="card-title">
			Ajouter culture
		</h5>

		<!-- General Form Elements -->

		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

		<div class="row mb-3">
			<label for="inputDate" class="col-sm-4 col-form-label">Catégorie</label>
			<div class="col-sm-10">
				{# {{ form_widget(form.category, {'attr': {'class': 'form-control ' ~ (form.category.vars.errors|length > 0 ? 'is-invalid' : '')}}) }} #}
				{# {{ form_errors(form.category, {'attr': {'class': 'text-danger'}}) }} #}
			</div>
		</div>

		<div class="row mb-3">
			<label for="inputEmail" class="col-sm-4 col-form-label">Libellé</label>
			<div class="col-sm-10">
				{{ form_widget(form.libelle, {'attr': {'class': 'form-control ' ~ (form.libelle.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
				{{ form_errors(form.libelle, {'attr': {'class': 'text-danger'}}) }}
			</div>
		</div>


		<div class="row mb-3">
			<label for="inputPassword" class="col-sm-4 col-form-label">Date Plantation</label>
			<div class="col-sm-10">
				{{ form_widget(form.dateplantation, {'attr': {'class': 'form-control ' ~ (form.dateplantation.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
				{{ form_errors(form.dateplantation, {'attr': {'class': 'text-danger'}}) }}
			</div>
		</div>

		<div class="row mb-3">
			<label for="inputEmail" class="col-sm-4 col-form-label">Date Récolte</label>
			<div class="col-sm-10">
				{{ form_widget(form.daterecolte, {'attr': {'class': 'form-control ' ~ (form.daterecolte.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
				{{ form_errors(form.daterecolte, {'attr': {'class': 'text-danger'}}) }}
			</div>
		</div>

		<div class="col-sm-10">
			<div class="row mb-3">
				<label for="inputDate" class="col-sm-4 col-form-label">Revenues Cultures</label>
				{{ form_widget(form.revenuescultures, {'attr': {'class': 'form-control ' ~ (form.revenuescultures.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
				{{ form_errors(form.revenuescultures, {'attr': {'class': 'text-danger'}}) }}
			</div>
		</div>

		<div class="row mb-3">
			<label for="inputDate" class="col-sm-4 col-form-label">Couts Plantations</label>
			<div class="col-sm-10">
				{{ form_widget(form.coutsplantations, {'attr': {'class': 'form-control ' ~ (form.coutsplantations.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
				{{ form_errors(form.coutsplantations, {'attr': {'class': 'text-danger'}}) }}
			</div>
		</div>

		<br/>
		<div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
		</div>

		{{ form_end(form) }}
		<!-- End General Form Elements -->

	</div>
</div>
