{% extends 'culturefront.html.twig' %}

{%block body%}
<div class="card">
	<div class="card-body">
		<h5 class="card-title"></h5>

		<!-- Cards -->


		<div class="row">
			{% for culture in cultures %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<div>
							<div class="card-body">
								<h5 class="card-title">Culture
									{{ loop.index }}</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<strong>Libelle:</strong>
										{{ culture.libelle }}</li>
									<li class="list-group-item">
										<strong>Type Category:</strong>
										{{ culture.category.type }}</li>
									<li class="list-group-item">
										<strong>Date Plantation:</strong>
										{{ culture.dateplantation ? culture.dateplantation|date('Y-m-d') : '' }}</li>
									<li class="list-group-item">
										<strong>Date Recolte:</strong>
										{{ culture.daterecolte ? culture.daterecolte|date('Y-m-d') : '' }}</li>
									<li class="list-group-item">
										<strong>Revenues Cultures:</strong>
										{{ culture.revenuescultures }}</li>
									<li class="list-group-item">
										<strong>Couts Plantations:</strong>
										{{ culture.coutsplantations }}</li>
									<li class="list-group-item d-flex justify-content-between">
										<a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_culture_show', {'id': culture.id}) }}">
											<i class="fas fa-camera"></i>Afficher</a>
										<a class="btn btn-success rounded-pill py-2 px-4" href="{{ path('app_culture_edit', {'id': culture.id}) }}">Modifier</a>
										<form method="post" action="{{ path('app_culture_delete', {'id': culture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display: inline-block;">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ culture.id) }}">
											<button class="btn btn-danger rounded-pill py-2 px-4">Supprimer</button>
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-md-12">
					<p>No records found</p>
				</div>
			{% endfor %}
		</div>

		<a href="{{ path('app_culture_new') }}" class="btn btn-primary">Ajouter</a>
		<!-- Add links for other actions as needed -->
	</div>

</div>


{%endblock%}
