<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Culture Report</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			body {
				margin: 0;
				padding: 0;
				font-family: 'Arial', sans-serif;
				text-align: center;
				background-color: #f8f9fa; /* Light background color */
				color: #495057; /* Text color */
			}

			header {
				background-color: #214216;
				color: white;
				text-align: center;
				padding: 20px;
				margin-bottom: 20px;
			}

			img {
				max-width: 100px;
				border-radius: 50%;
				margin-top: -50px; /* Adjust the margin-top to align with the header */
			}

			.card-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 20px;
				padding: 20px;
			}

			.card {
				width: 45%; /* Adjust width for two cards in a row */
				border: 2px solid #28a745; /* Green border */
				border-radius: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
				transition: transform 0.3s ease-in-out;
				background-color: #fff; /* White background */
			}

			.card:hover {
				transform: scale(1.05); /* Enlarge on hover */
			}

			.card-body {
				padding: 20px;
			}

			.list-group-item {
				list-style: none;
				margin: 10px 0;
				padding: 8px;
				border-radius: 5px;
				background-color: #dee2e6; /* Light gray background for list items */
			}

			.list-group-item strong {
				margin-right: 10px;
				color: #28a745; /* Green text for strong elements */
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Culture Report</h1>
		</header>

		<div>
			<img src="{{ imagePath }}" alt="Event Image">
		</div>

		<div class="card-container">
			{% for culture in cultures %}
				<div class="card">
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item">
								<strong>Libelle:</strong>
								{{ culture.libelle }}
							</li>
							<li class="list-group-item">
								<strong>Type Category:</strong>
								{{ culture.category.type }}
							</li>
							<li class="list-group-item">
								<strong>Date Plantation:</strong>
								{{ culture.dateplantation ? culture.dateplantation|date('Y-m-d') : '' }}
							</li>
							<li class="list-group-item">
								<strong>Date Recolte:</strong>
								{{ culture.daterecolte ? culture.daterecolte|date('Y-m-d') : '' }}
							</li>
							<li class="list-group-item">
								<strong>Revenues Cultures:</strong>
								{{ culture.revenuescultures }}
							</li>
							<li class="list-group-item">
								<strong>Couts Plantations:</strong>
								{{ culture.coutsplantations }}
							</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
