{% extends 'baseback.html.twig' %}

{% block title %}Culture
{% endblock %}

{% block body %}
	<h1>Culture</h1>
	<a href="{{ path('app_culture_index') }}">
		<i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i>
	</a>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ culture.id }}</td>
			</tr>
			<tr>
				<th>Catégorie</th>
				<td>{{ culture.category.type }}</td>
			</tr>
			<tr>
				<th>Libellé</th>
				<td>{{ culture.libelle }}</td>
			</tr>
			<tr>
				<th>Date Plantation</th>
				<td>{{ culture.dateplantation ? culture.dateplantation|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date Récolte</th>
				<td>{{ culture.daterecolte ? culture.daterecolte|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Revenues Cultures</th>
				<td>{{ culture.revenuescultures }}</td>
			</tr>
			<tr>
				<th>Couts Plantations</th>
				<td>{{ culture.coutsplantations }}</td>
			</tr>
		</tbody>
	</table>

	<form method="post" action="{{ path('app_culture_delete', {'id': culture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline-block;">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ culture.id) }}">
		<button class="btn btn-danger">Supprimer</button>
	</form>
{% endblock %}
