{% extends 'base.html.twig' %}

{% block title %}Culture{% endblock %}

{% block body %}
    <h1>Culture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ culture.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ culture.libelle }}</td>
            </tr>
            <tr>
                <th>Dateplantation</th>
                <td>{{ culture.dateplantation ? culture.dateplantation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Daterecolte</th>
                <td>{{ culture.daterecolte ? culture.daterecolte|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Categorytype</th>
                <td>{{ culture.categorytype }}</td>
            </tr>
            <tr>
                <th>Revenuescultures</th>
                <td>{{ culture.revenuescultures }}</td>
            </tr>
            <tr>
                <th>Coutsplantations</th>
                <td>{{ culture.coutsplantations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_culture_index') }}">back to list</a>

    <a href="{{ path('app_culture_edit', {'id': culture.id}) }}">edit</a>

    {{ include('culture/_delete_form.html.twig') }}
{% endblock %}
