{% extends 'annoncerecrut.html.twig' %}


{% block body %}
<!-- message flash mouch kmla -->
<!-- {% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>
{% endfor %}

{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endfor %}
-->
            <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder text-white">Annonces Recrutement</h1>
                </div>
            </div>
        </header>
        <br>
  
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
    <!-- Topbar Search -->
         <form action="{{ path('annoncerecrut_search') }}" method="get" id="searchForm">
                <div class="input-group">
                    <input type="text" name="search_query" id="searchQuery" class="form-control bg-light border-0 small" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
                <br>
            </form>
    <br>
        {% for annoncerecrutement in pagination %}
            {% if loop.index % 3 == 1 %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
            {% endif %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="box" style="font-family: Palatino; font-size: 20px;">
                                <p class="fw-bolder"> Poste proposé : {{ annoncerecrutement.postedemande }}</p>
                                
                                <p class="fw-bolder"> Salaire:  {{ annoncerecrutement.salairepropose }} <i class="bi bi-cash-stack"></i></p>
                                <p class="fw-bolder"> Contrat proposé : {{ annoncerecrutement.typecontrat }}</p>
                                <p class="fw-bolder"> Date de publication de l'annonce :<br> <i class="bi bi-calendar3"></i>   {{ annoncerecrutement.datepub ? annoncerecrutement.datepub|date('d-m-Y') : '' }}</p>
                                <p class="fw-bolder"> Date prévue d'embauche :  <br> <i class="bi bi-calendar3"></i>  {{ annoncerecrutement.dateembauche ? annoncerecrutement.dateembauche|date('d-m-Y') : '' }}</p>
                                <p class="fw-bolder"> <i class="bi bi-geo-fill"></i> {{ annoncerecrutement.localisation }}</p>
                                <p class="fw-bolder"> Nombre de postes recherchés : <i class="bi bi-people-fill"></i> {{ annoncerecrutement.nbposterecherche }}</p>
<a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_candidature_new', {'idRecrut': annoncerecrutement.idRecrut }) }}"> <i class="bi bi-person-plus"></i> </a>
                               <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_annoncerecrutement_edit', {'idRecrut': annoncerecrutement.idRecrut}) }}"><i class="bi bi-pencil"></i>  </a>
<a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_annoncerecrutement_edit', {'idRecrut': annoncerecrutement.idRecrut}) }}"><i class="bi bi-eye"></i>  </a>
<br>
    <br> <!-- Avoir -->
        {% include 'annoncerecrutement/_delete_form.html.twig' with {'submit_button': 'Supprimer'} %}

                               <div style="margin-left: 5px;">
                               <br>
                               
    </div>

                      
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
</section>

<div class="text-center">
    <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_annoncerecrutement_new') }}">Ajouter Annonce</a>
    <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_candidature_index') }}">Les candidatures</a>

</div>

<script>
    // Add this script to handle the minimization of the box
    document.addEventListener('DOMContentLoaded', function () {
        var boxes = document.querySelectorAll('.box');

        boxes.forEach(function (box) {
            box.addEventListener('click', function () {
                box.classList.toggle('minimized');
            });
        });
    });
</script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchQueryInput = document.getElementById('searchQuery');
            var searchForm = document.getElementById('searchForm');

            // Intercepter les événements de saisie dans le champ de recherche
            searchQueryInput.addEventListener('input', function () {
                searchForm.submit(); // Soumettre le formulaire en arrière-plan
            });

            // Gérer la soumission du formulaire
            searchForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Empêcher la soumission du formulaire

                var searchQuery = searchQueryInput.value.trim();

                // Si le champ de recherche est vide, réinitialiser le formulaire pour afficher tous les résultats
                if (searchQuery === '') {
                    searchForm.reset();
                } else {
                    // Sinon, soumettre le formulaire avec la requête de recherche actuelle
                    searchForm.submit();
                }
            });
        });
    </script>

{# Pagination #}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #404a3d; /* Bleu */
		border-radius: 3px;
		color: #404a3d; /* Bleu */
	}

	.pagination a:hover {
		background-color: #404a3d; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>
{% endblock %}






