{% extends 'annoncerecrut.html.twig' %}


{% block body %}
{% for annoncerecrutement in annoncerecrutements %}
    <div class="container">
    
        <div class="box">
            <td>{{ annoncerecrutement.idrecurt }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.postedemande }}</p>
                <i class="bi bi-geo-fill"></i>
                <p class="text-white mb-4">{{ annoncerecrutement.salairepropose }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.typecontrat }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.datepub ? annoncerecrutement.datepub|date('Y-m-d') : '' }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.localisation }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.dateembauche ? annoncerecrutement.dateembauche|date('Y-m-d') : '' }}</p>
                <p class="text-white mb-4">{{ annoncerecrutement.nbposterecherche }}</p>
        </div>
        
        

        <!-- Répétez ces balises de boîte pour chaque annonce supplémentaire -->
    </div>
    {% endfor %}
{% endblock %}
