{% extends 'anncandi.html.twig' %}

{% block body %}
<div class="row justify-content-center">
          <div class="col-lg-7">
                        <div class="p-5"> 
                         <div class="form-inline">
   <div class="col-sm-12 text-center">
    <label for="inputEmail" class="col-sm-4 col-form-label">Date de Publication : </label>
    <i class="bi bi-calendar3"></i>
    {{ form.vars.data.datepub|date('Y-m-d') }}
</div>


        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<br>
<br>
         <label for="inputEmail" class="col-sm-4 col-form-label ">Poste Demandé</label>
    <div class="col-sm-10">
        {{ form_widget(form.posteDemande, {'attr': {'class': 'form-control ' ~ (form.posteDemande.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.posteDemande, {'attr': {'class': 'text-danger' ,'placeholder': 'Poste Demandé'}}) }}
    </div>
    <br>
         <label for="inputEmail" class="col-sm-4 col-form-label">Salaire Proposé</label>
    <div class="col-sm-10">
        {{ form_widget(form.salairepropose, {'attr': {'class': 'form-control ' ~ (form.salairepropose.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.salairepropose, {'attr': {'class': 'text-danger' }}) }}
    </div>
        <br>
          <label for="inputEmail" class="col-sm-4 col-form-label">Type de Contrat</label>
    <div class="col-sm-10">
        {{ form_widget(form.typecontrat, {'attr': {'class': 'form-control ' ~ (form.typecontrat.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.typecontrat, {'attr': {'class': 'text-danger' }}) }}
    </div>
        <br>
  <label for="inputEmail" class="col-sm-4 col-form-label">Localisation</label>
    <div class="col-sm-10">
        {{ form_widget(form.localisation, {'attr': {'class': 'form-control ' ~ (form.localisation.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.localisation, {'attr': {'class': 'text-danger' }}) }}
    </div>
        <br>
        <label for="inputEmail" class="col-sm-4 col-form-label">Date d'Embauche</label>
            <div ></div>

    <div class="col-sm-10">
        {{ form_widget(form.dateembauche, {'attr': {'class': 'form-control ' ~ (form.dateembauche.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.dateembauche, {'attr': {'class': 'text-danger' }}) }}
    </div>
        <br>
        <label for="inputEmail" class="col-sm-4 col-form-label">Nombre de Postes Recherchés</label>
    <div class="col-sm-10">
        {{ form_widget(form.nbposterecherche, {'attr': {'class': 'form-control ' ~ (form.nbposterecherche.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.nbposterecherche, {'attr': {'class': 'text-danger' }}) }}
    </div>
        <br>
        <button type="submit" class="btn btn-primary">Cree l'annonce</button>

        {{ form_end(form) }}

    </div>
</div>
</div>

<style>
    .text-danger {
        color: red;
    }
</style>
{% endblock %}


