{% extends 'anncandi.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.postedemande, {'label': 'Poste Demandé','attr': {'class': 'form-control', 'placeholder': 'Poste Demandé'}}) }}
        <br>
        {{ form_row(form.salairepropose, {'label': 'Salaire Proposé','attr': {'class': 'form-control', 'placeholder': 'Salaire Proposé'}}) }}
        <br>
        {{ form_row(form.typecontrat, {'label': 'Type de Contrat','attr': {'class': 'form-control', 'placeholder': 'Type de Contrat'}}) }}
        <br>
        {{ form_row(form.datepub, {'label': 'Date de Publication','attr': {'class': 'form-control', 'placeholder': 'Date de Publication'}}) }}
        <br>
        {{ form_row(form.localisation, {'label': 'Localisation','attr': {'class': 'form-control', 'placeholder': 'Localisation'}}) }}
        <br>
        {{ form_row(form.dateembauche, {'label': 'Date d\'Embauche','attr': {'class': 'form-control', 'placeholder': 'Date d\'Embauche'}}) }}
        <br>
        {{ form_row(form.nbposterecherche, {'label': 'Nombre de Postes Recherchés','attr': {'class': 'form-control', 'placeholder': 'Nombre de Postes Recherchés'}}) }}
        <br>
        <button type="submit" class="btn btn-primary">Cree l'annonce</button>

        {{ form_end(form) }}

    </div>
{% endblock %}

