{% extends 'anncandi.html.twig' %}

{% block body %}
<div class="row justify-content-center">
          <div class="col-lg-7">
                        <div class="p-5">    
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <br>
         <label for="inputEmail" class="col-sm-4 col-form-label">Poste Demandé</label>
    <div class="col-sm-10">
        {{ form_widget(form.postedemande, {'attr': {'class': 'form-control ' ~ (form.postedemande.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.postedemande, {'attr': {'class': 'text-danger' ,'placeholder': 'Poste Demandé'}}) }}
    </div>
    <br>
         <label for="inputEmail" class="col-sm-4 col-form-label">Salaire Proposé</label>
    <div class="col-sm-10">
        {{ form_widget(form.salairepropose, {'attr': {'class': 'form-control ' ~ (form.salairepropose.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.salairepropose, {'attr': {'class': 'text-danger' ,'placeholder': 'Poste Demandé'}}) }}
    </div>
        <br>
        
        {{ form_row(form.typecontrat, {'label': 'Type de Contrat','attr': {'class': 'form-control', 'placeholder': 'Type de Contrat'}}) }}
        <br>
        {{ form_row(form.datepub, {'label': 'Date de Publication','attr': {'class': 'form-control', 'placeholder': 'Date de Publication'}}) }}
        <br>
        {{ form_row(form.localisation, {'label': 'Localisation','attr': {'class': 'form-control', 'placeholder': 'Localisation'}}) }}
        <br>
        {{ form_row(form.dateembauche, {'label': 'Date d\'Embauche','attr': {'class': 'form-control', 'placeholder': 'Date d\'Embauche'}}) }}
        <br>
        {{ form_row(form.nbposterecherche, {'label': 'Nombre de Postes Recherchés','attr': {'class': 'form-control', 'placeholder': 'Nombre de Postes Recherchés'}}) }}
        <br>
        <button type="submit" class="btn btn-primary">Cree l'annonce</button>

        {{ form_end(form) }}

    </div>
</div>
</div>
<style>
    .text-danger {
        color: red;
    }
</style>
{% endblock %}


