{% extends 'anncandi.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.postedemande, {'attr': {'class': 'form-control', 'placeholder': 'Poste Demandé'}}) }}
        {{ form_row(form.salairepropose, {'attr': {'class': 'form-control', 'placeholder': 'Salaire Proposé'}}) }}
        {{ form_row(form.typecontrat, {'attr': {'class': 'form-control', 'placeholder': 'Type de Contrat'}}) }}
        {{ form_row(form.datepub, {'attr': {'class': 'form-control', 'placeholder': 'Date de Publication'}}) }}
        {{ form_row(form.localisation, {'attr': {'class': 'form-control', 'placeholder': 'Localisation'}}) }}
        {{ form_row(form.dateembauche, {'attr': {'class': 'form-control', 'placeholder': 'Date d\'Embauche'}}) }}
        {{ form_row(form.nbposterecherche, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de Postes Recherchés'}}) }}
        
        <button type="submit" class="btn btn-primary">Cree l'annonce</button>

        {{ form_end(form) }}

    </div>
{% endblock %}

