

{% block title %}Annoncerecrutement{% endblock %}

{% block body %}
    <h1>Annoncerecrutement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrecurt</th>
                <td>{{ annoncerecrutement.idrecurt }}</td>
            </tr>
            <tr>
                <th>Postedemande</th>
                <td>{{ annoncerecrutement.postedemande }}</td>
            </tr>
            <tr>
                <th>Salairepropose</th>
                <td>{{ annoncerecrutement.salairepropose }}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ annoncerecrutement.typecontrat }}</td>
            </tr>
            <tr>
                <th>Datepub</th>
                <td>{{ annoncerecrutement.datepub ? annoncerecrutement.datepub|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ annoncerecrutement.localisation }}</td>
            </tr>
            <tr>
                <th>Dateembauche</th>
                <td>{{ annoncerecrutement.dateembauche ? annoncerecrutement.dateembauche|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbposterecherche</th>
                <td>{{ annoncerecrutement.nbposterecherche }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annoncerecrutement_index') }}">back to list</a>

    <a href="{{ path('app_annoncerecrutement_edit', {'idrecurt': annoncerecrutement.idrecurt}) }}">edit</a>

{% endblock %}
