{% extends 'nego.html.twig' %}



{% block body %}
    

    <div class="row">
    {% for negociation in negociations %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Négociation {{ loop.index }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Montant Proposé:</strong> {{ negociation.montantpropose }}</li>
                        <li class="list-group-item"><strong>Message:</strong> {{ negociation.message }}</li>
                        <li class="list-group-item"><strong>Etat Négociation:</strong> {{ negociation.etatnego }}</li>
                        <li class="list-group-item"><strong>Date Négociation:</strong> {{ negociation.datenegociation ? negociation.datenegociation|date('Y-m-d') : '' }}</li>
                        <li class="list-group-item d-flex justify-content-between">
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="{{ path('app_negociation_edit', {'id': negociation.id}) }}">Modifier</a>
                            {% include 'negociation/_delete_form.html.twig' with {'submit_button': 'Supprimer'} %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>no records found</p>
        </div>
    {% endfor %}
</div>



<a href="{{ path('app_annonceinvestissement_index') }}" class="btn btn-light btn-icon-split btn-lg">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text">Retour Annonce</span>
</a>
{% endblock %}
