{% extends 'base.html.twig' %}

{% block title %}Negociation{% endblock %}

{% block body %}
    <h1>Negociation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ negociation.id }}</td>
            </tr>
            <tr>
                <th>Montantpropose</th>
                <td>{{ negociation.montantpropose }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ negociation.message }}</td>
            </tr>
            <tr>
                <th>Etatnego</th>
                <td>{{ negociation.etatnego }}</td>
            </tr>
            <tr>
                <th>Datenegociation</th>
                <td>{{ negociation.datenegociation ? negociation.datenegociation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_negociation_index') }}">back to list</a>

    <a href="{{ path('app_negociation_edit', {'id': negociation.id}) }}">edit</a>

    {{ include('negociation/_delete_form.html.twig') }}
{% endblock %}
