{% extends 'prod.html.twig' %}

{% block title %}Negociation{% endblock %}
{% block banner_image %}
    {{ asset('img/nego3.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Négociation</h1>
{% endblock %}

{% block body %}
    <div class="row">
        {% for negociation in pagination %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Négociation {{ loop.index }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Montant Proposé:</strong> {{ negociation.montantpropose }}</li>
                            <li class="list-group-item">
                                <strong>Message:</strong>
                                {% if not negociation.contentHidden %}
                                    {{ negociation.message }}
                                {% else %}
                                    <em>Content hidden</em>
                                {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Date Négociation:</strong> {{ negociation.datenegociation ? negociation.datenegociation|date('Y-m-d') : '' }}</li>
                            <li class="list-group-item"><strong>Etat Négociation:</strong>
                                {% if negociation.isArchived %}
                                    Archivé
                                {% else %}
                                    <a href="{{ path('app_negociation_decision', {'id': negociation.id, 'decision': 'accept'}) }}" class="btn btn-primary" data-decision="accept">Accepter</a>
                                    <a href="{{ path('app_negociation_decision', {'id': negociation.id, 'decision': 'refuse'}) }}" class="btn btn-primary" data-decision="refuse">Refuser</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <p>Aucun enregistrement trouvé.</p>
            </div>
        {% endfor %}
    </div>

    {# Pagination #}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
        {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #404a3d; /* Bleu */
		border-radius: 3px;
		color: #404a3d; /* Bleu */
	}

	.pagination a:hover {
		background-color: #404a3d; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>
    <br>
    <br>

{% endblock %}
