{% extends 'baseback.html.twig' %}

{% block title %}Marche Admin
{% endblock %}

{% block body %}
	<h1>Marche
	</h1>

	<table class="table">
		<thead>
			<tr>
				{# <th>IdUser</th> #}
				{# <th>Prodid</th> #}
					<th>
				Nom produit
				</th>
					<th>
				Prix
				</th>
					<th>
				Date d'ajout
				</th>
					<th>
				Quantite
				</th>
					<th>
				actions
				</th>
					<th>
				Codebar
			</th>
		</tr>
		</thead>
			<tbody>
				{% for client in clients %}
					<tr>
					{# <td>{{ client.idUser }}</td> #}
					{# <td>{{ client.prodid }}</td> #}
						<td>
					{{ client.nomprod }}
					</td>
						<td>
					{{ client.prix }}
					</td>
						<td>
					{{ client.dateajout ? client.dateajout|date('Y-m-d') : '' }}
					</td>
						<td>
					{{ client.qte }}
					</td>
						<td>
							<a href="{{ path('app_clientback_show', {'id': client.id}) }}" class="btn btn-primary"> <i class="fas fa-eye"></i>
						</a>
						{# Afficher #}
						<a href="{{ path('app_clientback_edit', {'id': client.id}) }}" class="btn btn-success">
							<i class="fas fa-pencil-alt"></i>
						</a>
						{# Modifier #}
					</td>
					<td>
						{# {% if barcodeHtmlArray[client.id] is defined %} #}
						<a href="{{ path('download_barcode', {'id': client.id}) }}" class="btn btn-secondary">
							<i class="fas fa-barcode"></i>
						</a>
						{# Telecharger #}
						{# {% endif %} #}
					</td>
				</tr>
				<tr>
					<td colspan="7"></td>
					<td></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	{# <a href="{{ path('app_clientback_new') }}" class="btn btn-primary">Creer Nouveau</a> #}
{% endblock %}
