{% extends 'prod.html.twig' %}

{# {% block title %}Marche
{% endblock %} #}
{% block dark_mode_toggle %}
	<button id="darkModeToggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
{% endblock %}

{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Marche</h1>
{% endblock %}

{% block banner_image %}
	{{ asset('img/market.jpg') }}
{% endblock %}


{% block body %}
	<div class="card" style="background-color: white;">
		<div class="card-body">
			<h5 class="card-title"></h5>


			<!-- Product Start -->
			<div class="container-xxl py-5">
				<div class="container">

					<div class="row gx-4">
						{% for client in clients %}
							<div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
								<div class="product-item">
									<div class="position-relative">
										<img class="img-fluid rounded" src="{{ asset('img/' ~ client.image) }}" style="width: 336px; height: 336px; object-fit: cover;">
										<div
											class="product-overlay">
											{# <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_client_show', {'id': client.id}) }}">
																																		<i class="bi bi-eye"></i>
																																	</a> #}
											<a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('cart_addinmarche', {'id': client.id}) }}">
												<i class="bi bi-cart"></i>
											</a>


											<!-- Add this button to add the product to the cart -->
											{# <a href="{{ path('cart_addinmarche', {'id': client.id}) }}" class="btn btn-success">
																																																																																																																																																																																																																																								<i class="bi bi-cart-plus"></i>
																																																																																																																																																																																																																																						Ajouter au panier
																																																																																																																																																																																																																											</a> #}
											<!-- Add button/link for generating QR code -->
												<a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_client_generate_qr', {'id': client.id}) }}"> QR<i class="bi bi-upc-scan"></i>
											</a>
											<a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('download_barcode', {'id': client.id}) }}">
												<i class="bi bi-upc-scan"></i>
											</a>
												 <a class="btn btn-square btn-secondary rounded-circle m-1"
                                    href="{{ path('app_reclamation_new', {'productId': client.id }) }}">
                                    <i class="btn btn-square btn-secondary rounded-circle m-1">R</i>
                                </a>	
											{# {% set barcodeFlashes = app.flashes('barcode') %}
																																																							{% if barcodeFlashes is not empty %}
																																																								<div class="alert alert-info" role="alert">
																																																									{{ barcodeFlashes[0] }}
																																																								</div>
																																																							{% endif %} #}
											{% set barcodeFlashes = app.flashes('barcode') %}

											{% if barcodeFlashes is not empty %}
												<!-- Display the flash message -->
												<div class="alert alert-info" role="alert">
													{{ barcodeFlashes[0] }}
												</div>

												<!-- Display the barcode image if available -->
												{% set barcodeImage = app.session.get('barcode_image') %}
												{% if barcodeImage is not null %}
													<img src="{{ asset(barcodeImage) }}" alt="Generated Barcode"/>
												{% endif %}
											{% endif %}
											{# <a href="{{ path('app_client_generate_qr', {'id': client.id}) }}" class="btn btn-primary">
																																																																																																																																																																																																									<i class="bi bi-qrcode"></i>
																																																																																																																																																																																																									Générer QR Code
																																																																																																																																																																																																								</a> #}

										</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5" href="{{ path('app_client_show', {'id': client.id}) }}">
											<strong>Nomprod:</strong>
											{{ client.nomprod }}<br></a>
										<span class="text-primary me-1">
											<strong>Prix:</strong>
											{{ client.prix }}<br></span>
										<span class="text-decoration">
											<strong>Qte:</strong>
											{{ client.qte }}<br></span>
									</div>
								</div>
							</div>
						{% else %}
							<p>No records found</p>
						{% endfor %}
						{# <img src="{{ imagePath }}" alt="Event Image"> #}

					</div>
				</div>
			</div>
			<!-- Product End -->
			<a href="{{ path('cart_index') }}" class="btn btn-primary">consulter pannier</a>

			<!-- Add links for other actions as needed -->
		</div>
	</div>
{% endblock %}