{% extends 'culturefront.html.twig' %}

{% block title %}Marche
{% endblock %}

{% block body %}
	<h1>Marche</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>IdUser</th>
				<td>{{ client.idUser }}</td>
			</tr>
			<tr>
				<th>Prodid</th>
				<td>{{ client.prodid }}</td>
			</tr>
			<tr>
				<th>Nomprod</th>
				<td>{{ client.nomprod }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ client.prix }}</td>
			</tr>
			<tr>
				<th>Dateajout</th>
				<td>{{ client.dateajout ? client.dateajout|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Qte</th>
				<td>{{ client.qte }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_client_index') }}" class="btn btn-secondary">Retourner au list</a>

	<a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary">edit</a>

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
