{% extends 'baseback.html.twig' %}



{% block body %}
    <div class="col-lg-7">
        <div class="p-5">
            
                
                {{ form_start(form) }}

                

                <div class="form-group row">
                    <div class="col-sm-20 mb-3 mb-sm-0">
                        {{ form_row(form.montantpropose, {'attr': {'class': 'form-control form-control-user form-control-lg', 'placeholder': 'Entrez le montant'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-20 mb-3 mb-sm-0">
                        {{ form_row(form.message, {'attr': {'class': 'form-control form-control-user form-control-lg', 'placeholder': 'Entrez le message'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-20 mb-3 mb-sm-0">
                        {{ form_row(form.datenegociation, {'attr': {'class': 'form-control form-control-user form-control-lg', 'placeholder': 'Entrez la date de négociation'}}) }}
                    </div>
                </div>

                

                <button type="submit" class="btn btn-primary">Modifier</button>

                <div class="form-group row">
                    <div class="col-sm-20 mb-3 mb-sm-0">
                        <div class="my-2"></div>
                        <a href="{{ path('app_negociation_index_back') }}" class="btn btn-light btn-icon-split btn-lg">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text">Retour Négociations</span>
                        </a>
                    </div>  
                </div>

                {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}
