{% extends 'baseback.html.twig' %}

{% block body %}
    <h1>Négociations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Montant proposé</th>
                <th>Message</th>
                <th>Date Négociation</th>
                <th>Etat Négociation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for negociation in negociations %}
            <tr>
                <td>{{ negociation.montantpropose }}</td>
                <td>{{ negociation.message }}</td>
                <td>{{ negociation.datenegociation ? negociation.datenegociation|date('Y-m-d') : '' }}</td>
                <td>{{ negociation.etatnego }}</td>
                <td style="display: flex; align-items: center;">
                    <a href="{{ path('app_negociation_show_back', {'id': negociation.id}) }}" class="btn btn-secondary rounded-pill py-2 px-4">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
