{% extends 'baseback.html.twig' %}


{% block body %}
<div class="container mt-5">
        

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.montantpropose, {'attr': {'class': 'form-control', 'placeholder': 'Montant Propose'}}) }}
        {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
        {{ form_row(form.datenegociation, {'attr': {'class': 'form-control', 'placeholder': 'Date de Négociation'}}) }}
        

        <button type="submit" class="btn btn-primary">Ajouter</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
