{% extends 'baseback.html.twig' %}


{% block body %}
    <h1 class="text-center">Annonces Investissements </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Montant</th>
                <th>Date publication</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonceinvestissement in pagination %}
            <tr>
                <td>{{ annonceinvestissement.titre }}</td>
                <td>{{ annonceinvestissement.montant }}</td>
                <td>{{ annonceinvestissement.datepublication ? annonceinvestissement.datepublication|date('Y-m-d') : '' }}</td>
                <td>{{ annonceinvestissement.localisation }}</td>
                <td>{{ annonceinvestissement.description }}</td>
                <td><img src="{{ asset('img/' ~ annonceinvestissement.photo) }}" alt=" Image" style="max-width:100px;max-height:100px;"></td>
                <td style="display: flex; align-items: center;">
                    <a href="{{ path('app_annonceinvestissement_show_back', {'idannonce': annonceinvestissement.idannonce}) }}" class="btn btn-success rounded-pill py-2 px-4">
                     <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Pagination #}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
            {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #1cc88a; /* Bleu */
		border-radius: 3px;
		color: #1cc88a; /* Bleu */
	}

	.pagination a:hover {
		background-color: #1cc88a; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>
<br>
{% endblock %}
