{% extends 'condi.html.twig' %}

{% block body %}
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endfor %}
    <br>
    <br>

    <div class="row">
        {% for candidature in pagination %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Candidature {{ loop.index }}</h5>
                        <ul class="list-group list-group-flush">
                          
                            <li class="list-group-item"><strong>Date de Candidature:</strong> {{ candidature.datecandidature ? candidature.datecandidature|date('Y-m-d') : '' }}</li>
                            <li class="list-group-item"><strong>Expérience Professionnelle:</strong> {{ candidature.experienceprofessionnelle }}</li>
                            <li class="list-group-item"><strong>Formation:</strong> {{ candidature.formation }}</li>
                            <li class="list-group-item"><strong>Compétences Techniques:</strong> {{ candidature.competencestechniques }}</li>
                            <li class="list-group-item"><strong>Message de motivation :</strong> {{ candidature.messagemotivation }}</li>
                              {% if candidature.certifforma|lower ends with '.pdf' %}
                                <li class="list-group-item"><strong>Certifications et Formations:</strong>
                                    <a href="{{ asset('img/' ~ candidature.certifforma) }}" download="{{ candidature.certifforma }}">
                                        Télécharger le fichier PDF
                                    </a>
                                </li>
                            {% else %}
                            <li class="list-group-item"><strong>Certifications et Formations:</strong>

                                <div>
                                    <a href="{{ asset('img/' ~ candidature.certifforma) }}" download="{{ candidature.certifforma }}">
                                        Télécharger la photo
                                    </a>
                                </div>
                            {% endif %}

                        </ul>
                        <div class="d-flex justify-content-between">
                            <li class="list-group-item"><strong>Etat négociation :</strong>
                           <a href="{{ path('confirm_candidature', {'id': candidature.idcandidature, 'decision': 'accept'}) }}" class="btn btn-primary" data-decision="accept">Accepter</a>

<a href="{{ path('confirm_candidature', {'id': candidature.idcandidature, 'decision': 'refuse'}) }}" class="btn btn-primary" data-decision="refuse">Refuser</a>

                            </li>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <p>no records found</p>
            </div>
        {% endfor %}
    </div>
 <a href="{{ path('app_annoncerecrutement_index') }}" class="btn btn-light btn-icon-split btn-lg">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Retour aux annonces </span>
    </a>



    {# Pagination #}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    {# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #404a3d; /* Bleu */
		border-radius: 3px;
		color: #404a3d; /* Bleu */
	}

	.pagination a:hover {
		background-color: #404a3d; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>
{% endblock %}
