{% extends 'baseback.html.twig' %}


{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Date de Candidature</th>
            <th>Expérience Professionnelle</th>
            <th>Formation</th>
            <th>Compétences Techniques</th>
            <th>Certifications et Formations</th>
            <th>Message de motivation</th>
            <th>Etat négociation</th>
        </tr>
    </thead>
    <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ candidature.datecandidature ? candidature.datecandidature|date('Y-m-d') : '' }}</td>
                <td>{{ candidature.experienceprofessionnelle }}</td>
                <td>{{ candidature.formation }}</td>
                <td>{{ candidature.competencestechniques }}</td>
                

                <td><img src="{{ asset('img/' ~ candidature.certifforma) }}" alt="User Image" style="max-width:100px;max-height:100px;"></td>
                            

                <td>{{ candidature.messagemotivation }}</td>
                <td>{{candidature.statusCandidature}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}

        <br> 

        
    </tbody>
</table>

{% endblock %}
