{% extends 'prod.html.twig' %}

{% block title %}Ouvrier index{% endblock %}

{% block body %}
    </div>
    <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Ouvrier Index</p>
                <h1 class="mb-5">Liste des Ouvriers</h1>
            </div>

            <div class="row">
                {% for ouvrier in ouvriers %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ouvrier {{ loop.index }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Nomouvrier:</strong> {{ ouvrier.nomouvrier }}</li>
                                    <li class="list-group-item"><strong>Prenomouvrier:</strong> {{ ouvrier.prenomouvrier }}</li>
                                    <li class="list-group-item"><strong>Genreouv:</strong> {{ ouvrier.genreouv }}</li>
                                    <li class="list-group-item"><strong>Dateembauche:</strong> {{ ouvrier.dateembauche ? ouvrier.dateembauche|date('Y-m-d') : '' }}</li>
                                    <li class="list-group-item"><strong>Poste:</strong> {{ ouvrier.poste }}</li>
                                    <li class="list-group-item"><strong>Poste:</strong> {{ ouvrier.NomEquipe }}</li>

                                    <li class="list-group-item d-flex justify-content-between">
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_ouvrier_show', {'idouvrier': ouvrier.idouvrier}) }}">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" href="{{ path('app_ouvrier_edit', {'idouvrier': ouvrier.idouvrier}) }}">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p>Aucun enregistrement trouvé</p>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('app_ouvrier_new') }}">Créer un nouvel ouvrier</a>
            </div>
        </div>
    </div>
{% endblock %}
