{% extends 'prod.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="p-5">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <label for="inputEmail" class="col-sm-4 col-form-label">CIN Ouvrier</label>
<div class="col-sm-10">
    {{ form_widget(form.cinouvrier, {'attr': {'class': 'form-control ' ~ (form.cinouvrier.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.cinouvrier, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Nom Ouvrier</label>
<div class="col-sm-10">
    {{ form_widget(form.nomouvrier, {'attr': {'class': 'form-control ' ~ (form.nomouvrier.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.nomouvrier, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Prénom Ouvrier</label>
<div class="col-sm-10">
    {{ form_widget(form.prenomouvrier, {'attr': {'class': 'form-control ' ~ (form.prenomouvrier.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.prenomouvrier, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Date de Naissance</label>
<div class="col-sm-10">
    {{ form_widget(form.datenaissance, {'attr': {'class': 'form-control ' ~ (form.datenaissance.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.datenaissance, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Genre Ouvrier</label>
<div class="col-sm-10">
    {{ form_widget(form.genreouv, {'attr': {'class': 'form-control ' ~ (form.genreouv.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.genreouv, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

               <label for="inputEmail" class="col-sm-4 col-form-label">Date d'embauche</label>
<div class="col-sm-10">
    {{ form_widget(form.dateembauche, {'attr': {'class': 'form-control ' ~ (form.dateembauche.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.dateembauche, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
<div class="col-sm-10">
    {{ form_widget(form.email, {'attr': {'class': 'form-control ' ~ (form.email.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.email, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Adresse</label>
<div class="col-sm-10">
    {{ form_widget(form.adresse, {'attr': {'class': 'form-control ' ~ (form.adresse.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.adresse, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Téléphone</label>
<div class="col-sm-10">
    {{ form_widget(form.phone, {'attr': {'class': 'form-control ' ~ (form.phone.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.phone, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Poste</label>
<div class="col-sm-10">
    {{ form_widget(form.poste, {'attr': {'class': 'form-control ' ~ (form.poste.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.poste, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Salaire</label>
<div class="col-sm-10">
    {{ form_widget(form.salaire, {'attr': {'class': 'form-control ' ~ (form.salaire.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.salaire, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>

<label for="inputEmail" class="col-sm-4 col-form-label">Équipe</label>
<div class="col-sm-10">
    {{ form_widget(form.equipe, {'attr': {'class': 'form-control ' ~ (form.equipe.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.equipe, {'attr': {'class': 'text-danger' }}) }}
</div>
<br>
         <label for="inputEmail" class="col-sm-4 col-form-label ">Photo de l'ouvrier</label>
    <div class="col-sm-10">
        {{ form_widget(form.photo, {'attr': {'class': 'form-control ' ~ (form.photo.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
        {{ form_errors(form.photo, {'attr': {'class': 'text-danger' ,'placeholder': 'Poste Demandé'}}) }}
 <p style="color: red; font-weight: bold;">*Veuillez ajouter la photo de l'ouvrier  sous le format JPG ,JPEG ,PNG </p>

    </div>


                <button type="submit" class="btn btn-primary">Valider</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <style>
        .text-danger {
            color: red;
        }
    </style>
{% endblock %}
