{% extends 'annonceinv.html.twig' %}



{% block body %}
    <h1>Annonce Investissement </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idannonce</th>
                <th>Titre</th>
                <th>Montant</th>
                <th>Datepublication</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Iduser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonceinvestissement in annonceinvestissements %}
            <tr>
                <td>{{ annonceinvestissement.idannonce }}</td>
                <td>{{ annonceinvestissement.titre }}</td>
                <td>{{ annonceinvestissement.montant }}</td>
                <td>{{ annonceinvestissement.datepublication ? annonceinvestissement.datepublication|date('Y-m-d') : '' }}</td>
                <td>{{ annonceinvestissement.localisation }}</td>
                <td>{{ annonceinvestissement.description }}</td>
                <td>{{ annonceinvestissement.photo }}</td>
                <td>{{ annonceinvestissement.iduser }}</td>
                <td>
                    <a href="{{ path('app_annonceinvestissement_show', {'idannonce': annonceinvestissement.idannonce}) }}">show</a>
                    <a href="{{ path('app_annonceinvestissement_edit', {'idannonce': annonceinvestissement.idannonce}) }}">edit</a>
                </td>
            </tr>
                    {% endfor %} {# Ajoutez cette ligne pour fermer la boucle for #}

   
        </tbody>
    </table>

    <a href="{{ path('app_annonceinvestissement_new') }}">Create new</a>
{% endblock %}
