{% extends 'inv.html.twig' %}

{% block body %}
    <div class="container mt-5">
        

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
        {{ form_row(form.montant, {'attr': {'class': 'form-control', 'placeholder': 'Amount'}}) }}
        {{ form_row(form.datepublication, {'attr': {'class': 'form-control', 'placeholder': 'Publication Date'}}) }}
        {{ form_row(form.localisation, {'attr': {'class': 'form-control', 'placeholder': 'Location'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
        {{ form_row(form.photo, {'attr': {'class': 'form-control', 'placeholder': 'Image File'}}) }}

        <button type="submit" class="btn btn-primary">Create</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
