



{% block body %}
    <h1>Annonce Investissement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idannonce</th>
                <td>{{ annonceinvestissement.idannonce }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonceinvestissement.titre }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ annonceinvestissement.montant }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{{ annonceinvestissement.datepublication ? annonceinvestissement.datepublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ annonceinvestissement.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonceinvestissement.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ annonceinvestissement.photo }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ annonceinvestissement.iduser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonceinvestissement_index') }}">back to list</a>

    <a href="{{ path('app_annonceinvestissement_edit', {'idannonce': annonceinvestissement.idannonce}) }}">edit</a>

    {{ include('annonceinvestissement/_delete_form.html.twig') }}
{% endblock %}
