{% extends 'inv.html.twig' %}



{% block body %}
    

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ annonceinvestissement.titre }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ annonceinvestissement.montant }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{{ annonceinvestissement.datepublication ? annonceinvestissement.datepublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ annonceinvestissement.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonceinvestissement.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ annonceinvestissement.photo }}</td>
            </tr>
            
        </tbody>
    </table>
    {{ include('annonceinvestissement/_delete_form.html.twig') }}

    <a href="{{ path('app_annonceinvestissement_index') }}" class="btn btn-light btn-icon-split btn-lg">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text">Retour Annonce</span>
                        </a>


    
{% endblock %}
