{% extends 'prod.html.twig' %}
{% block title %}Investissement{% endblock %}
{% block banner_image %}
    {{ asset('img/investissement.jpg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Investissement</h1>
{% endblock %}






{% block body %}
    

    <table class="table mx-5 w-75">
        <tbody>
            <tr>
                <th><i class="bi bi-eye">Titre</th>
                <td>{{ annonceinvestissement.titre }}</td>
            </tr>
            <tr>
                <th><i class="fas fa-dollar-sign">Montant</th>
                <td>{{ annonceinvestissement.montant }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-calendar"> Date publication</th>
                <td>{{ annonceinvestissement.datepublication ? annonceinvestissement.datepublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-geo-alt"> Localisation</th>
                <td>{{ annonceinvestissement.localisation }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-file-text"> Description</th>
                <td>{{ annonceinvestissement.description }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-image"> Photo</th>
                <td><img src="{{ asset('img/' ~ annonceinvestissement.photo) }}" alt="User Image" style="max-width:100px;max-height:100px;"></td>
            </tr>
            <tr>
            <th><i class="bi bi-upc-scan"> Code QR</th>

                <td>
                 <a href="{{ path('app_annonceinvestissement_qrcode', {'idannonce': annonceinvestissement.idannonce}) }}" class="btn btn-warning m-2">
                <i class="bi bi-upc-scan"></i> Générer le code QR
                </a>
                </td>
                                            
            </tr>
    
            
        </tbody>
    </table>



    
    
{% endblock %}