
{% extends 'baseback.html.twig' %}

{% block title %}New Produit{% endblock %}
{% block banner_image %}
    {{ asset('img/pngtree-fruits-and-vegetables-picture-image_3712726.jpg') }}
{% endblock %}

{% block body %}
   

    <div class="container-xxl py-5">
        <div class="row gx-4">
            {% for user in usersWithReclamations %}
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item">
                        <div class="position-relative">
                            <!-- Your existing code for each produit -->
                            
                               
                                
                        </div>
                                <div class="text-center p-4">
                                    <i class="fa-solid fa-file-pen"></i>
                                    <img src="{{ asset('img/' ~ user.image) }}" alt="User Image" style="max-width:100px;max-height:100px;">
                                    <h2 style="color: #000000;">{{ user.nom }} {{ user.prenom }}</h2>
                                    <i class="fa-solid fa-file-pen"></i>
                                    <h2 style="color: #000000;">{{ user.reclamationsCount }}</h2>
                                    <a href="{{ path('set_banned', {'userId': user.id}) }}" class="btn btn-secondary">bani bani matar7mouch</a>

                                    
                                </div>
                            
                    </div>
                </div>
            {% else %}
                <p>No records found</p>
            {% endfor %}
        </div>
    </div>

   
{% endblock %}

