 {% extends 'baseback.html.twig' %}

{% block body %}
   <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables Des Utilisateurs</h1>
    
    <!-- DataTales Example -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Mail</th>
                            
                            <th>Role</th>
                            <th>Image</th>
                            <th>Actions</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        
                        <tr>
                            
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.role }}</td>
                            <td><img src="{{ asset('img/' ~ user.image) }}" alt="User Image" style="max-width:100px;max-height:100px;"></td>
                            <td>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}"class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}"class="btn btn-success">Detail</a></td>
                            <td>{{ include('user/_delete_form.html.twig') }}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
{% endblock %}